<header>
  <div id="ordepdev">
    <h1><a href="/">ordep<span class="b">dev</span></a></h1>
  </div>

  <ul>
    <li><a href="https://twitter.com/ordepdev"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/ordepdev"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="mailto:pedrotavares.dev@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    <li><a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
  </ul>

  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/talks">talks</a></li>
    <li><a href="/readings">readings</a></li>
  </ul>
</header>
