<div class="mt-16 mb-12">
    <hr class="my-10 border-slate-300 dark:border-rosePine-highlightMed">

    <div class="container max-w-[750px] mx-auto px-8 text-center mt-8">
        <div class="font-serif text-lg text-proseBody dark:text-proseInvertBody mb-4">
            <em>Thanks for reading, until next time.</em>
        </div>

        <div class="font-sans text-sm text-proseBody dark:text-proseInvertBody italic">
            <a href="/feed.xml" class="font-bold text-proseLinks border-b border-slate-500 no-underline hover:border-b-slate-200 dark:text-proseInvertLinks">RSS feed</a>
            <span class="mx-3 opacity-60">•</span>
            <a href="https://twitter.com/ordepdev" class="font-bold text-proseLinks border-b border-slate-500 no-underline hover:border-b-slate-200 dark:text-proseInvertLinks" target="_blank">X @ordepdev</a>
            <span class="mx-3 opacity-60">•</span>
            <a href="/posts" class="font-bold text-proseLinks border-b border-slate-500 no-underline hover:border-b-slate-200 dark:text-proseInvertLinks">More posts</a>
        </div>
    </div>
</div>