$width-content: 576px;
$color-grey: #9EABB3;

// A ramp of washed out blues from dark to light.
$dark:    hsl(215, 20%, 20%);
$gray-30: hsl(212, 23%, 30%);
$gray-40: hsl(209, 26%, 40%);
$gray-50: hsl(206, 30%, 50%);
$gray-60: hsl(203, 30%, 60%);
$light:   hsl(195, 30%, 90%);
$lighter: hsl(195, 35%, 95%);

// An opposing warm light color (code background).
$warm-dark:  hsl(40, 0%, 35%);
$warm-light: hsl(40, 30%, 97%);
$warm-40:    mix($warm-light, $warm-dark, 40%);
$warm-60:    mix($warm-light, $warm-dark, 60%);
$warm-80:    mix($warm-light, $warm-dark, 80%);
$warm-95:    hsl(40, 20%, 95%);