---
# custom styles
---

@import "variables";
@import "syntax";

header {
  margin: 60px 0;
  text-align: center;

  #ordepdev {
    text-decoration: none;
    h1 {    
      font-size: 24px;

      a {
        text-decoration: none;
      }
    }
    span.b {
      font-weight: bold;
    }
    p {
      color: $color-grey;
    }
  }
  
  ul {
    list-style: none;
    line-height: 16px;
    padding: 0;

    li { 
      display: inline-block; 
      margin-left: 12px;
    }
  }
}

.container {
  max-width: $width-content;
  margin: 0 auto;
  padding: 0 20px;

  ul.list-posts {
    padding-left: 0;
    list-style: none;

    li {
      margin: 12px 0;
    }
    span { 
      color: $color-grey;
      float: right; 
      font-size: 14px;
      margin-top: 2px; 
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid $color-grey;
      &:hover {
        border-color: #000;
      }
    }
  }
}

article {
  h2 {
    font: 600 30px/24px "Crimson", Georgia, serif;
    margin: 69px 0 0 0;
  }

  h3 {
    font: italic 24px/24px "Crimson", Georgia, serif;
    margin: 71px 0 0 0;
  }

  p {
    text-align: justify;
  }
}

// .post-date {
//   border-left: none;
//   margin-left: 0;
//   padding-left: 0;
// }

// h1 {
//   font-size: 32px;
// }

// h4 {
//   margin-top: 40px;
//   margin-bottom: 20px;
// }

// p {
//   margin-bottom: 12px;
// }

pre, code {
  font: normal 13px/20px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  background: #faf8f5;
}
