<!DOCTYPE html>
<html class="light light_override">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - ordep.dev</title>
    <meta name="keywords" content="blog,developer,elixir,papers,ordepdev">
    <meta name="description" content="{{page.meta_description}}">
    <meta name="Description" content="{{page.meta_description}}">
    <meta name="og:title" property="og:title" content="{{page.title}} - ordep.dev">
    <meta name="og:description" property="og:description" content="{{page.meta_description}}">
    <meta name="og:image" property="og:image" content="{{page.image}}">
    <meta name="author" content="Pedro Tavares">
    <meta name="twitter:image" content="https://ordep.dev{{page.image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:locale" property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="A blog, from @ordepdev.">
    <meta name="twitter:image:alt" content="{{page.title}}">
    <meta name="twitter:site" content="@ordepdev">
    <meta name="twitter:creator" content="@ordepdev">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ordep.dev">
    <meta name="apple-mobile-web-app-title" content="ordep.dev">
    <meta name="msapplication-navbutton-color" content="#f5f5f5">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    {% include tailwind.html %}
    {% include dark-mode-toggle-script.html %}
</head>
<body class="antialiased bg-rosePineDawn-base bg-no-repeat bg-gradient-to-br from-rosePineDawn-base to-rosePineDawn-base dark:rosePine-overlay dark:from-rosePine-surface dark:to-rosePine-base min-h-screen">
<div>
    {% include header.html %}
    {{ content }}
</div>

{% include analytics.html %}
{% include shiki.html %}
</body>
</html>
