---
layout: default
disqus: false
archive: false
---

<div class="content">
    <article>
        <header class="post-header">
            <div class="post-title">
                <h1>{{ page.title }}</h1>
                <section class="post-meta">                
                    <time class="post-date" datetime="{{ page.date | date:"%B %d, %Y" }}">{{ page.date | date:"%B %d, %Y" }}</time>
                    {% if page.categories.size > 0 %} 
                        {{ page.categories | array_to_sentence_string | prepend: 'on ' }} 
                    {% endif %}
                </section>
            </div>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}    
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.twitter }}" style="background-image: url(/assets/images/profile.jpg)">
                </figure>              
            {% endif %}
        </footer>
    </article>
</main>
